@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

* {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
	//font-size: 10pt !important;
}

/* remove menu and toolbar text shadows */
#mail-toolbox,
.mail-toolbox,
#mail-toolbar-menubar2,
#tabs-toolbar,
#status-bar,
#compose-toolbox,
#ab-toolbox,
#CardViewBox,
#CardTitle,
#tabs-toolbar .tab-text,
#tabs-toolbar .tabmail-tab[selected=true],
#tabs-toolbar .tabmail-tab:not([selected=true]),
#tabs-toolbar::after,
#tabs-toolbar::before {
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
}



/* Sidebar */

#folderTree treechildren {
	margin: 10px !important;
}

#folderTree > treechildren::-moz-tree-cell-text {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
	font-weight: 400 !important;
	font-size: 11pt !important;
}

#folderTree treechildren::-moz-tree-row {
	height: 32px !important;
}

#folderTree treechildren::-moz-tree-row(selected, focus) {
	border-radius: 3px !important;
}

#folderTree treechildren::-moz-tree-row(selected) {
	border-radius: 3px !important;
}

#folderTree > treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
	font-weight: 700 !important;
}

/* Mail listing */

#threadTree treechildren {
	margin: 10px !important;
}

#threadTree > treechildren::-moz-tree-cell-text {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
	font-weight: 400 !important;
	font-size: 11pt !important;
}

#threadTree treechildren::-moz-tree-row {
	height: 32px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	border-radius: 3px !important;
}

#threadTree treechildren::-moz-tree-row(selected, focus),
#threadTree treechildren::-moz-tree-row(odd,selected, focus) {
	border: none !important;
}

#threadTree treechildren::-moz-tree-cell-text(unread) {
	font-weight: 700 !important;
}


/* Mail Header */

#msgHeaderView {
	font-size: 11pt !important;
}
#msgHeaderView * {
font-weight: 400 !important;
}
#msgHeaderView #expandedtagsBox * {
	border: none !important;
}


/* Looks better without: */
#status-bar {
	visibility: collapse !important;
}


